/*
    SLIDE
*/

.header{
    position: relative;
}

.slide-img{
    width: 100%;
    max-width: 100%;
    display: block;
    height: 100%;
}


/*
    NAVEGACION
*/
.navegacion{
    position: absolute;
    z-index: 111;
    width: 100%;
}

.navbar-brand{
    font-size: 1.6em;
}

.navbar-city{
    font-weight: 700;
}

.nav-link{
    font-weight: 600;
    font-size: .8em !important;
    text-transform: uppercase;
}

.nav-link:hover{
    opacity: .8;
}

.dropdown-menu{
    background: #71b100
}

.dropdown-item{
    color: #fff !important;
    text-transform: uppercase;
    font-size: .8em;
}

.dropdown-item:hover{
    background: #e08709 !important;
}

.carousel-description{
    font-weight: 300;
}

.btn-moreinfo{
    border-color: #e08709;
    font-weight: 600;
}


/*
    SOBRE NOSOTROS
*/
.title-header{
    font-size: 1.8em;
    font-weight: 400;
    color: #888;
}

.text-title{
    font-size: 1.2em;
    color: #888;
    font-weight: 400;
    letter-spacing: 3px;
}

.lead-text{
    font-size: 1em;
}


/*
    ANUNCIOS
*/
.card-title{
    font-size: 1.5em;
    font-weight: 500;
    color: #888;
}

.card-promition{
    color: #888;
}

.card-promition > span{
    font-size: 1em;
    margin-left: 5px;
    font-weight: 600;
}

.card-description-body{
    color: #777;
}

.card-price {
    font-size: 1.2em;
}

/*
    ENCUENTRA   
*/
.encuentra{
    background: url(../img/contacto.jpg) center / cover;
}

.encuentra-row{
    height: 50vh;
}

.encuentra-title{
    font-weight: 600;
    font-size: 1.4em !important;
}

/*
    BLOG
*/
.blog-title{
    font-size: 1.8em;
    font-weight: 500;
    color: #777;
}

.blog-title::after{
    content: "";
    display: block;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #71b100;
}

.meta{
    font-size: 1em;
}

.meta > span{
    color: #e08709;
    font-weight: 500;
}

.blog-description{
    font-size: .9em;
}

/*
    TESTIMONIAL
*/
.testimonial-text{
    background: #71b100;
    position: relative;
    padding: 2em 4em !important;
    font-weight: 300;
    color: #fff;
    text-align: justify;
}

.testimonial-text::before{
    content: open-quote;
    font-size: 3.5em;
    font-weight: 400;
    position: absolute;
    top: 4px;
    left: 35px;
}

.testimonial-text > span{
    font-weight: 600;
}

@media (min-width: 768px){
    .encuentra-title{
        font-size: 2em;
    }
    .blog-title::after{
        width: 100px;
        border: 2px solid #71b100;
    }
}

@media (min-width: 992px){
    .navegacion{
        background: rgba(0, 0, 0, 0) !important;
    }
}

@media (min-width: 1024px){
    .slide-caption{
        transform: translateY(-75px) !important;
    }
}
